{% extends 'base.html' %}

{% block content %}


<div class="container">

    <!-- Header section start -->

    <header class="row">
        <div class="col-12 col-md-6" id="header">
            <h2>Which of these amazing luxury cars would you like to take home?</h2>
            <h5>Pick and choose from a large list of vehicles to buy and rent.</h5>
            <div>
                <button class="btn btn-primary">For Sale</button>
                <button class="btn btn-primary">For Rent</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/grey-car.jpg" alt="">
        </div>
    </header>





{% endblock content %}