{% extends 'base.html' %}

{% block content %}
<!-- Flask Flashed messages to the User -->
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'user-created' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            {% elif cat == 'auth-success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="container">

    <!-- Header section start -->

    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>We've spent years creating the greatest car collection in the United States!</h2>
            <h5>Check out what cars we have. If you like them, and join our car community!</h5>
            <div>
                <button class="btn btn-primary">View Our Cars</button>
                <button class="btn btn-primary">Join Our Community</button>
            </div>
        </div>
        <!-- Header Image Here -->
        <div class="col-12 col-md-6">
            <img class="header-image" src="">
        </div>
    </header>

    <!-- Header section end -->

    <!-- Start of Middle Section -->

    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display The Collection</h2>
            <p>You can harness the power of an API to expabd your collection!</p>
        </div>
    </section>

    <!-- End of middle section -->

    <!-- Start of Features section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="" alt="" id="api-image">
            <h4>Luxury Cars</h4>
            <p>
                If you're a fan of luxury cars, we have a large collection of some of the best
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="" alt="" id="graphql-image">
            <h4>Muscle Cars</h4>
            <p>
                If you're a fan of going fast, we have a large collection of muscle cars
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="" alt="" id="database-image">
            <h4>Classics</h4>
            <p>
                
                And if you love the classics, we have some great ones as well
            </p>
        </div>
    </section>
    <!-- End of features -->

    <!-- Start of Community -->
    <section class="row">
        <div class="col-12 col-md-6" id="drone-image">
            <img src="" alt="">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like-minded car collectors!</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa maiores eligendi earum cumque</p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Slack Channel</button>
            </div>
        </div>
    </section>
    <!-- End of Community -->

    <!-- Start of footer -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <img src="" alt="" id="footer-logo">
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars?</p>
                <p>The Car collection</p>
                <p>Donate</p>
                <p>Spread the Word</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars?</p>
                <p>The Car collection</p>
                <p>Donate</p>
                <p>Spread the Word</p>>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars?</p>
                <p>The Car collection</p>
                <p>Donate</p>
                <p>Spread the Word</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars?</p>
                <p>The Car collection</p>
                <p>Donate</p>
                <p>Spread the Word</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars?</p>
                <p>The Car collection</p>
                <p>Donate</p>
                <p>Spread the Word</p>
            </div>
        </div>
    </footer>

</div>



{% endblock content %}